*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;

}

.container {
    background-color: white;
    position: fixed;
    top:50vh;
    left: 50vw;
    transform: translate(-50% ,-50%);
    padding: 10px;

}

button {
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translateY(3px);
    filter: brightness(100%);
}

.primary-color {
    background: #52c9dc;
    color: white;
}

.secondary-color {
    background: #f2f8fc;
    color: white;
}

.line-double{
    display: flex;
    gap: 10px;
    align-items: stretch;
}

.plus {
    height: 100%;
}
.line {
    display: flex;
    gap: 10px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-wrap {
    display: flex;
    align-items: center;
    height: 60px;
    /* border: 1px solid #ccc; */
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
}

.result-wrap span:nth-child(1) {
    color: #52c9dc;
    font-weight: bold;
}

#result {
    flex: 1;
    text-align: end;
    
}